body{
    width: 1000px;
    margin: auto;
    border: solid thin red;
}

.soMedio{
    display: block;
}

.soGrande, .soPequeno{
    display: none;
}

article{
    width: 44%;
    float: left;
    border: solid thin blue;
    margin: auto 2.5%;
    text-align: justify;
}

article img{
    max-width: 100%;
}

article:nth-child(3) img{
    width: 940%;
    float: none;
    margin: auto;
}