        body{
            /* background-color: #fffcd8;
            background-image: url(cabecalhos_back.png);
            background-repeat: repeat-y; */
            background: #fffcd8 url(cabecalhos_back.png) repeat-y;
            margin-left: 160px;
        }

        h1, h2{
            color: #906718;
        }

        h3{
            color: white;
            background-color: #d48b00;
            padding: 3px;
        }

        hr{
            /* border-style: dashed;
            border-color: #d48b00;
            border-width: 2px; */
            border: dashed #d48b00 2px;
        }

        p{
            text-indent: 30px;
        }

        a{
            text-decoration: none;
            color: #d48b00;
        }